@charset "UTF-8";

:root {
    --bac1: hsl(252, 100%, 67%);
    --bac2: hsl(241, 81%, 54%);

    --cir1:  hsla(256, 72%, 46%, 1);
    --cir2: hsla(241, 72%, 46%, 0);

    --button: hsl(224, 30%, 27%);

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    overflow-x: hidden;
}

aside{
    background-image: linear-gradient(var(--bac1), var(--bac2));
    padding: 30px;
    color: white;
    text-align: center;
    border-radius: 0px 0px 23px 23px;

}
aside h2{
    font-size: 1em;
    margin-bottom: 20px;
    color: rgb(188, 188, 188);

}
div.circle{
    background-image: linear-gradient(var(--cir1), var(--cir2));
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    position: relative;
}
.circle p.num{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.7em;
}
.circle p.sub{
    color: rgb(188, 188, 188);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 190%);
}
aside h1{
    margin: 20px
}
aside p#comum{
    text-align: justify;
    width: 300px;
    font-size: 16px;
    color: rgb(188, 188, 188);
    margin: auto;
}
section{
    padding: 30px;
    
}
section h2 {
    margin: -5px 20px 20px 0px;
    font-size: 1.2em;
}
section div{
    margin: auto;
    padding: 20px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 10px;
}
div.ver{
    background-color: hsla(0, 100%, 67%, 0.207);
}
div.ama{
    background-color:  hsl(39, 100%, 56%, 0.207);
}
div.verde{
    background-color:  hsl(166, 100%, 37%, 0.207);

}
div.azul{
    background-color: hsl(234, 85%, 45%,0.207);
}   
p#ver{
    color: hsla(0, 100%, 67%);
}

p#ama{
    color:  hsl(39, 100%, 56%);
}
p#verde{
    color: hsl(166, 100%, 37%);
}
p#azul{
    color: hsl(234, 85%, 45%);
}
section div p.nome{
    transform: translate(-120px);
}
section div p.number{
    color: rgb(127, 124, 124);
}
strong{
    color: black;
}
button{
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 23px;
    width: 428px;
    border-radius: 40px;
    border: none;
    background-color: var(--button);
    color: white;
    font-size: 1.2em;
}
button:hover{
    background-color: var(--bac2);
}
